<div class="container">
   <div class="row gx-5 align-items-center">
      <div class="col-12 col-md-8">
         <h2>
            Strategy driven business improvement
         </h2>
         <p class="text-em">
            We're a tech company who works just as hard as you do.
         </p>
         <p>
            Hi, my name is Vinnie and I’m the Founder of Better Blue Collar. I started this business to help owners of
            small, manual labor businesses increase profits and efficiency by leveraging online tools.
         </p>
         <p>
            Just out of high school I entered the workforce as a landscaper which I stuck to for several years. Before
            my first son was born I had the dream of being able to work from home so that I could spend more time with
            him and within two years that dream became a reality. I started doing my computer work after hours at my
            landscaping job and was putting in insanely long hours. As I learned more about the tech industry, the more
            I could see that could be improved in the manual labor industry. There were countless time and money saving
            opportunities that I started to see but when i approached my boss about them, I received the cold shoulder.
            “This might not be the best way, but it’s our way dammit”. Not a great attitude for running a business that
            plans to compete in the real world.
         </p>
         <p>
            About a year into my tech journey, I pitched an idea to my father, who also worked for this company, that we
            start our own landscaping business. I was learning all about web development and doing constant research on
            what tools we could use to make this idea into a lean, efficient operation. Three months after starting the
            website we were getting enough interest to justify leaving our previous positions. My father, like many
            business owners in similar fields, doesn’t have the time nor the interest to learn what is really out there
            to help the business thrive. That’s where I come in. What started out as a fun idea on paper has turned into
            a business doing nearly two million in yearly revenue, which continues to grow each and every year.
         </p>
         <p>
            Better Blue Collar was started with the intention of bringing similar results to small businesses across the
            country. I believe firmly in working hard but I have an equally strong belief in saving yourself time, money
            and headaches wherever possible. You have your own life and business ownership is a time consuming thing.
            Let us get some of your life back while increasing profits at the same time.
         </p>
         <div class="skill-div">
            <div class="progress_bar mb-3">
               <div class="progress_bar_bg"></div>
               <div class="progress_bar_inner animate animated py-2" style="width:100%">
                  <span class="progress_bar_text text-black">Focus on Profits</span>
                  <span class="progress_bar_percentage text-black">100%</span>
               </div>
            </div>
            <div class="progress_bar mb-3">
               <div class="progress_bar_bg"></div>
               <div class="progress_bar_inner animate animated py-2">
                  <span class="progress_bar_text text-black">Focus on Efficiency</span>
                  <span class="progress_bar_percentage text-black">100%</span>
               </div>
            </div>
            <div class="progress_bar">
               <div class="progress_bar_bg"></div>
               <div class="progress_bar_inner animate animated py-2" style="width:0%">
                  <span class="progress_bar_text text-black">Headaches</span>
                  <span class="progress_bar_percentage text-black">0%</span>
               </div>
            </div>

         </div>
      </div>
      <div class="col-12 col-md-4">
         <img src="/img/about-me-featured.webp" class="w-100" alt="Contact">
      </div>
   </div>
</div>