<style>
   .elementor-button-content-wrapper {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: flex;
      justify-content: center;
   }

   .elementor-align-icon-right {
      margin-left: 15px;
   }

   .elementor-button-icon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
   }
</style>


<div class="container" id="wheretobuy">
   <div class="row">
      <div class="col-12 text-center">
         <a href="https://www.instagram.com/flewid_friendly/">
            <h3 class="text-white">#FLEWIDFRIENDLY</h3>
         </a>
         <p class="text-white">Show off on Instagram drinking from your Flewid Friendly Straws <br>and tag&nbsp;us
            to&nbsp;<b class="text-white">get 5%
               off</b> your next order.</p>
         <a class="elementor-button elementor-button-link elementor-size-sm"
            href="https://www.instagram.com/flewid_friendly/">
            <h3>
               <span class="text-white">FOLLOW US ON INSTAGRAM</span>
               <span>
                  <i aria-hidden="true" class="fas fa-long-arrow-alt-right text-white"></i> </span>
            </h3>
         </a>
      </div>
   </div>
</div>