.page-layout {
  max-width: 1600px;
  margin: 0 auto 0 auto;
  position: relative;
  overflow: hidden;
  transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1);
}
.header-logo {
  height: 80px;
}
body {
  background-color: #fefae0;
}
#navbarSupportedContent a.nav-link:after {
  content: "";
  display: block;
  position: absolute;
  left: calc(50px * 0.4);
  right: calc(50px * 0.4);
  bottom: 0%;
  pointer-events: none;
  height: 3px;
  width: auto;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0;
  opacity: 0;
  transition: 200ms ease all;
  transform: scale(0.5);
  transform-origin: 50% 50%;
  z-index: 5;
  background-color: #057485;
}
#navbarSupportedContent li:hover a.nav-link {
  color: #000000;
  background-color: #ffffff;
}
svg .dark-color {
  fill: #181818 !important;
}
svg .accent-color {
  fill: #dda15e !important;
}
.banner {
  position: relative;
  overflow: hidden;
}
.banner::before {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: linear-gradient(
    to bottom,
    #08415c 0%,
    transparent 25%,
    transparent 75%,
    #08415c 100%
  );
}
.middle-banner {
  position: relative;
  overflow: hidden;
}
.middle-banner::before {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 0) 55%,
    rgba(0, 0, 0, 1) 100%
  );
}
.home-services svg {
  height: 5em;
  width: 5em;
}
.blog-card {
  border: 1px solid #dedede;
}
.blog-card img {
  transition: transform 650ms ease-in-out, filter 650ms ease-in-out;
}
.blog-card:hover img {
  transform: scale3d(1.05, 1.05, 1.05);
}

.svg-circle-border .icon {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.svg-circle-border .icon svg {
  width: 5.5em;
  height: 5.5em;
}
.service-card {
  padding: 2em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 850px;
  background: #fff;
  transition: all 300ms ease;
}
.service-card svg {
  width: 7em;
  height: 7em;
}
.pricing-card {
  background-color: #ffffff;
  border: 1px solid #dedede;
  transition: all 600ms ease-in-out;
  padding: 3em 0;
}
.progress_bar {
  border-radius: 50px;
  overflow: hidden;
  position: relative;
}
.progress_bar .progress_bar_bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
  opacity: 0.2;
}
.progress_bar .progress_bar_inner.animated {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}
.progress_bar .progress_bar_inner {
  border-radius: 50px;
  padding-right: 1.5em;
  padding-left: 1.5em;
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, #e3e3e3 100%);
  justify-content: space-between;
  text-align: left !important;
  transition: transform 500ms ease;
  -webkit-transition-delay: 400ms;
  -moz-transition-delay: 400ms;
  transition-delay: 400ms;
}
.animate {
  -webkit-transition: transform 1000ms cubic-bezier(0.19, 1, 0.22, 1),
    opacity 1000ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: transform 1000ms cubic-bezier(0.19, 1, 0.22, 1),
    opacity 1000ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 1000ms cubic-bezier(0.19, 1, 0.22, 1),
    opacity 1000ms cubic-bezier(0.19, 1, 0.22, 1);
}
.pricing-card img {
  max-height: 64px;
}
#footer .social-icon {
  width: 1.4em;
  height: 1.4em;
  box-shadow: 0 0 0 0 #000 inset;
  border: 1px solid #000;
  border-radius: 50%;
  background-color: transparent;
  text-align: center;
}

#footer .social-icon:hover {
  background-color: black;
  text-decoration: none;
}
#footer .social-icon:before {
  color: black;
  font-size: 18px;
  line-height: 1.4em;
}
#footer .social-icon:hover:before {
  color: white;
}
.mostftr {
  background-color: #191919;
}
.contact-social-icons .social-icon {
  color: #ffffff;
  text-decoration: none !important;
  width: 1.4em;
  height: 1.4em;
  background-color: #08415c;
  text-align: center;
  line-height: 1.2em;
  border-radius: 50%;
}
.contact-social-icons .social-icon:before {
  box-shadow: 0 0 0 3em #08415c inset;
  color: #ffffff;
  font-size: 1.316rem;
}
.contact-social-icons .social-icon:hover:before {
  color: #08415c;
  background-color: #ffffff;
  box-shadow: none !important;
}
.contact-social-icons .social-icon:hover {
  box-shadow: 0 0 0 0px #08415c inset;
  background-color: #ffffff;
  color: #08415c;
  text-decoration: none !important;
  border: solid 1px #08415c;
}
