<section style="background-image: url(/img/home-banner.webp); background-size: cover;padding: 250px 0px 150px;">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <h1 class="text-black">
               Saving time while increasing profits.
            </h1>
            <p class="text-black">
               <strong>We have concrete solutions</strong>
            </p>
            <button class="btn btn-default2 mt-5">Let's work together</button>
         </div>
      </div>
   </div>
</section>