<div class="container">
   <div class="row gx-5 align-items-center">
      <div class="col-12 col-lg-6">
         <img src="/img/contact-featured.webp" class="w-100" alt="Contact">
      </div>
      <div class="col-12 col-lg-6">
         <h2>
            Let's work together
         </h2>
         <p class="text-em">
            Take a breath, we got this.
         </p>
         <hr>
         <form id="fs-frm" name="simple-contact-form" accept-charset="utf-8"
            action="https://formspree.io/f/{{ .Site.Params.formspreekey }}" method="post">
            <fieldset id="fs-frm-inputs">
               <div class="row">
                  <div class="col-12">
                     <label for="full-name" class="form-label">Your name</label>
                     <input type="text" class="form-control mb-3" name="name" id="full-name" placeholder="Your name*"
                        required="">
                  </div>
                  <div class="col-12">
                     <label for="email-address" class="form-label">Your email</label>
                     <input type="email" class="form-control mb-3" name="_replyto" id="email-address"
                        placeholder="Your email" required="">
                  </div>
                  <div class="col-12">
                     <label for="subject" class="form-label">Subject</label>
                     <input type="text" class="form-control mb-3
                     " name="subject" id="subject" placeholder="Subject">
                  </div>
                  <div class="col-12">
                     <label for="message" class="form-label">Your message (optional)</label>
                     <textarea rows="5" class="form-control" name="message" id="message"
                        placeholder="Your message (optional)"></textarea>
                  </div>
               </div>
            </fieldset>
            <input type="submit" class="btn btn-default2 mt-3" value="Submit">
         </form>
      </div>
   </div>
</div>