<section style="background-image: url(/img/service-banner-2.webp); background-size: cover; padding: 200px 0px;">
   <div class="container position-relative" style="z-index: 3;">
      <div class="row">
         <div class="col-12">
            <div style="max-width: 580px;">
               <p>
                  <small class="text-accent">Inovative Solutions</small>
               </p>
               <h2 class="text-white">
                  When taking on a new job, it's important to have the right tools
               </h2>
               <p class="text-white">
                  With so many options out there, we’ve worked with all kinds of software to help your business thrive.
                  There are countless categories but we’ve outlined some important ones below.
               </p>
               <ul style="list-style: none;" class="ps-0">
                  <li class="text-white"><i class="fa-regular fa-circle-check text-accent me-1 my-2"></i>Lead
                     Services</li>
                  <li class="text-white"><i class="fa-regular fa-circle-check text-accent me-1 my-2"></i>CRM Software
                  </li>
                  <li class="text-white"><i class="fa-regular fa-circle-check text-accent me-1 my-2"></i>Payment
                     Solutions
                  </li>
                  <li class="text-white"><i class="fa-regular fa-circle-check text-accent me-1 my-2"></i>Invoicing</li>
               </ul>
               <button class="btn btn-default2 mt-5">Let's work together</button>
            </div>
         </div>
      </div>
   </div>
</section>