<div class="container">
   <div class="row gx-5 align-items-center">
      <div class="col-12 col-lg-6">
         <img src="/img/time-and-money.png" class="w-100" alt="Contact">
      </div>
      <div class="col-12 col-lg-6">
         <h2>
            Time and money.<br>We think you might like more of both.
         </h2>
         <p class="text-em">
            We’re here to help you figure out which tactics are working and which aren't for your company and team.
         </p>
         <a href="/services" class="btn btn-default2 text-uppercase">
            TELL ME HOW
         </a>
      </div>
   </div>
</div>