<div class="container">
   <div class="row gx-5">
      <div class="col-12">
         <p class="text-accent text-center text-uppercase">
            PRICING
         </p>
         <h2 class="text-center">
            Pick a plan that fits your needs
         </h2>
      </div>

      <div class="row mt-5 gx-3 gx-lg-5">
         <div class="col-12 col-md-4">
            <div class="pricing-card text-center">
               <img src="/img/icons/diy_package_icon.png" alt="DIY Package">
               <h3 class="text-accent px-4">
                  DIY Package
               </h3>
               <p class="text-em px-4">
                  Talk with the pros and do it yourself
               </p>
               <p class="bg-dark-grey my-0 py-2">
                  Setting up Smarter Systems
               </p>
               <p class="bg-white my-0 py-2">
                  You Ask, We Tell You How
               </p>
               <p class="bg-dark-grey my-0 py-2">
                  General Questions and Advice
               </p>
               <h1 class="mb-0">
                  $150
               </h1>
               <p>
                  per hour
               </p>
               <div class="px-4">
                  <a href="#" class="w-100 btn btn-default3">Pick Strategy Plan</a>
               </div>
            </div>
         </div>
         <div class="col-12 col-md-4">
            <div class="pricing-card text-center">
               <img src="/img/icons/tech_package_icon.png" alt="DIY Package">
               <h3 class="text-accent px-4">
                  Tech Package
               </h3>
               <p class="text-em px-4">
                  Use the best systems to stay ahead of the competition
               </p>
               <p class="bg-dark-grey my-0 py-2">
                  Updates to Website
               </p>
               <p class="bg-white my-0 py-2">
                  Setting up & Maintenance of Phone Trees
               </p>
               <p class="bg-dark-grey my-0 py-2">
                  Digital Strategy
               </p>
               <p class="bg-white my-0 py-2">
                  CRM Setup
               </p>
               <p class="bg-dark-grey my-0 py-2">
                  Customer Data Solutions
               </p>
               <h1 class="mb-0">
                  $1250
               </h1>
               <p>
                  per hour
               </p>
               <div class="px-4">
                  <a href="#" class="w-100 btn btn-default3">Pick Management Plan</a>
               </div>
            </div>
         </div>
         <div class="col-12 col-md-4">
            <div class="pricing-card text-center">
               <img src="/img/icons/entrepreneur_package_icon.png" alt="DIY Package">
               <h3 class="text-accent px-4">
                  Entrepreneur Package
               </h3>
               <p class="text-em px-4">
                  Full meal deal for those ready to take their business to the next level.
               </p>
               <p class="bg-dark-grey my-0 py-2">
                  Frontline Customer Interaction
               </p>
               <p class="bg-white my-0 py-2">
                  Remote Scheduling
               </p>
               <p class="bg-dark-grey my-0 py-2">
                  Review Generation
               </p>
               <p class="bg-white my-0 py-2">
                  CRM Setup and Maintenance
               </p>
               <p class="bg-dark-grey my-0 py-2">
                  Invoicing Solutions
               </p>
               <p class="bg-white my-0 py-2">
                  Unlimited Private Consulting
               </p>
               <h1 class="mb-0">
                  $2000+
               </h1>
               <p>
                  per hour
               </p>
               <div class="px-4">
                  <a href="#" class="w-100 btn btn-default3">Pick Finance Plan</a>
               </div>
            </div>
         </div>
      </div>
   </div>